<footer class="w-full bg-[#262525]">
  <div
    class="container mx-auto py-4 px-4 flex flex-col md:flex-row items-center justify-center md:justify-between gap-2 text-center md:text-left font-bold text-gray-300"
  >
    <div>
      Créer par
      <a
        href="https://frazakarivony.vercel.app"
        class="text-lg hover:underline"
      >
        <span class="text-green-400">frazakarivony</span>
      </a>
    </div>

    <a href="tel:+261345783584" class="hover:underline">
      Contact direct : +261 34 57 835 84
    </a>

    <a href="mailto:frazakarivony.dev@gmail.com" class="hover:underline">
      email : frazakarivony.dev&#64;gmail.com
    </a>
  </div>
</footer>
