<div class="ticker" data-duration="30">
  <div class="ticker-wrap">
    <div class="ticker-text font-outfit">
      <a href="https://wa.me/+261345783584" target="_blank" class="font-outfit">
        Parlons sur WhatsApp
        <span class="accent font-outfit">Mon WhatsApp</span>
      </a>
      ou
      <a href="mailto:frazakarivony.dev@gmail.com" class="font-outfit"
        ><span class="accent font-outfit">en E-mail</span></a
      >
      • Ouvert à des nouvelles
      <span class="accent font-outfit">opportunitées</span> • Collaborons pour
      créer des projets <span class="accent font-outfit">impactants</span> •
    </div>
  </div>
</div>
