<section class="bg-[#262525]">
  <div #section class="mx-auto min-h-screen px-4">
    <div class="relative flex items-center justify-center min-h-screen">
      <img
        src="assets/images/Fitiavana.png"
        alt=""
        class="absolute z-50 w-[60vw] sm:w-[37vw] md:w-100"
      />
      <div
        class="flex flex-col container mx-auto px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16"
      >
        <div class="flex flex-col">
          <div>
            <h2
              class="text-3xl sm:text-4xl md:text-5xl developpeur text-white font-bold"
              #developpeur
            >
              <lucide-icon
                [img]="CodeXml"
                class="text-white w-20 h-20"
              ></lucide-icon>
            </h2>
          </div>
          <div class="flex flex-col justify-center items-center gap-y-10">
            <h1 style="margin-bottom: -7rem">
              <span class="flex gap-0.5 sm:gap-1 flex-wrap justify-center">
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >D</span
                >

                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >é</span
                >
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >v</span
                >
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >e</span
                >
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >l</span
                >
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >o</span
                >
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >p</span
                >
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >p</span
                >
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >e</span
                >
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >u</span
                >
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >r</span
                >
              </span>
            </h1>
            <h1 class="font-bold text-yellow-400">
              <span class="flex gap-0.5 sm:gap-1 flex-wrap justify-center">
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >F</span
                >
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >r</span
                >
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >o</span
                >
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >n</span
                >
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >t</span
                >
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >-</span
                >
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >e</span
                >
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >n</span
                >
                <span
                  class="transition-transform text-yellow-400 font-bold text-[2rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[7rem] xl:text-[9rem] 2xl:text-[11rem]"
                  >d</span
                >
              </span>
            </h1>
          </div>
        </div>
        <app-infinite-ticker
          class="absolute bottom-8 left-0 w-full sm:bottom-10 md:bottom-12"
        />
      </div>
    </div>
  </div>
</section>
